<%- include('../layouts/main', { body: ` <div class="change-password-container">
    <h2>Change Password</h2>
    <form id="change-password-form">
        <div class="form-field">
            <label for="old-password">Old Password:</label>
            <input type="password" id="old-password" name="old-password" placeholder="old password" required>
        </div>
        <div class="btn-container">
            <button type="button" id="check-old-password-button">Submit Old Password</button>
        </div>
        <div class="form-field">
            <label for="new-password">New Password:</label>
            <input type="password" id="new-password" name="new-password" placeholder="new password" readonly required>
        </div>
        <div class="form-field">
            <label for="confirm-password">Confirm New Password:</label>
            <input type="password" id="confirm-password" name="confirm-password" placeholder="confirm password" readonly
                required>
        </div>
        <div class="btn-container">
            <button type="submit" id="change-password-button" disabled>Change Password</button>
        </div>
    </form>
    </div>` }) %>