<%- include('../layouts/main', { body: ` <div class="forgot-password-container">
    <form id="forgot-password-form">
        <h2>Enter your email</h2>
        <div class="form-field">
            <input type="email" id="forgot-email" name="forgot-email" placeholder="Email" required>
        </div>
        <div class="btn-container">
            <button type="submit" id="reset-password-button">Reset Password</button>
        </div>
    </form>
    </div>
    ` }) %>