<%- include('../layouts/main', { body: ` <div class="reset-password-container">
    <h2>Reset Password</h2>
    <form id="reset-password-form">
        <div class="form-field">
            <input type="text" id="otp" name="otp" placeholder="Enter OTP" required>
        </div>
        <div class="btn-container">
            <button type="submit" id="verify-otp-forgot-password">Verify OTP</button>
        </div>
        <div class="form-field">
            <label for="new-password">New Password:</label>
            <input type="password" id="new-password" name="new-password" placeholder="new password" required disabled>
        </div>
        <div class="form-field">
            <label for="confirm-password">Confirm New Password:</label>
            <input type="password" id="confirm-password" name="confirm-password" placeholder="confirm password" required
                disabled>
        </div>
        <div class="btn-container">
            <button type="submit" id="reset-password" disabled>Reset Password</button>
        </div>
    </form>
    </div>
    ` }) %>