<nav class="navbar">
    <div class="navbar-container">
        <div class="navbar-brand">
            <a href="/">
                <img src="/images/icons/cafe.png" alt="">
                <span>Ones Café</span>
            </a>
        </div>

        <ul class="navbar-nav-left">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/menu">Menu</a>
            </li>
            <li>
                <a href="/rewards">Rewards</a>
            </li=>
            <li>
                <a href="/feedback">Feedback</a>
            </li>
        </ul>

        <ul class="navbar-nav-right">
            <li>
                <a
                    href="https://www.google.com/maps/place/45,+Jalan+17%2F45,+Seksyen+17,+46300+Petaling+Jaya,+Selangor,+Malaysia/@3.120318,101.62997,15z/data=!4m6!3m5!1s0x31cc495affc74ddd:0x1a0a8ad39581aad1!8m2!3d3.1203175!4d101.6299695!16s%2Fg%2F11h79rh_ky?hl=en&entry=ttu">
                    <img src="/images/icons/navbar-location.svg" alt="">
                    <span>Locate Us</span>
                </a>
            </li>
            <li>
                <button class="button btn-dark-outline" id="signInBtn" onclick="location.href='/profile';">Profile</button>
                <button class="button btn-dark" id="joinNowBtn" onclick="location.href='/';">Log
                    Out</button>
            </li>
        </ul>
    </div>
</nav>