<%- include('layouts/admin', { body: ` <div class="not_found in-center">
    <div class="not_found_404 cf">
        <span>4</span>
        <span>0</span>
        <span>4</span>
    </div>
    <div class="btn">
        <a href="/" class="button button-rounded">Back to Home</a>
    </div>
    </div>

    ` }) %>