<%- include('layouts/main', { body: ` <section class="home" id="home">
    <div class="swiper mySwiper home-slider">
        <div class="swiper-wrapper wrapper">
            <div class="swiper-slide slide">
                <div class="content">
                    <span>our special dish</span>
                    <h3>Signature Beef Burger</h3>
                    <p>A marvel of gastronomic flair, this burger is crafted with our exclusive chili
                        coriander beef patty that promises a burst of flavors with each mouthful. Tucked
                        within a soft, sesame-studded bun are layers of succulent beef bacon, crisp tomatoes,
                        tangy gherkins, and velvety gruyere cheese. A spread of rich guacamole and a side of
                        golden fries complete this masterpiece. It’s not just a burger; it's a journey of taste
                        that defines the essence of our café.</p>
                    <a href="/menu" class="order-btn">order now</a>
                </div>
                <div class="image">
                    <img src="/images/home/1.png" alt="">
                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="content">
                    <span>our special dish</span>
                    <h3>Pan Seared Salmon Fillet</h3>
                    <p>Gently sear the salmon to perfection, locking in its moist and flaky texture,
                        and complement it with a side of lovingly roasted vegetables and fluffy couscous.
                        The dish is finished with a unique puteh spicy butter cream sauce, adding a
                        subtle kick that beautifully harmonizes with the salmon’s natural flavors. It’s a
                        dish that’s both hearty and sophisticated, perfectly representing the café’s
                        dedication to quality.</p>
                    <a href="/menu" class="order-btn">order now</a>
                </div>
                <div class="image">
                    <img src="/images/home/2.png" alt="">
                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="content">
                    <span>our special dish</span>
                    <h3>Spinach & Cream Cheese Pizza</h3>
                    <p>A luscious cream base sets the stage for a generous blend of mozzarella and cheddar
                        cheeses, creating a rich and gooey foundation. Fresh spinach and dollops of cream
                        cheese are thoughtfully scattered atop, resulting in a pizza that’s bursting with
                        creamy goodness and a touch of verdant freshness in every slice – a vegetarian delight
                        that even the most discerning of meat-lovers will crave.</p>
                    <a href="/menu" class="order-btn">order now</a>
                </div>
                <div class="image">
                    <img src="/images/home/3.jpg" alt="">
                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="content">
                    <span>our special dish</span>
                    <h3>Sizzling Brownies</h3>
                    <p>Each piece is nestled on a sizzling hot cast iron pan, creating a symphony of textures as
                        the warmth gently melds the brownies with a lavish chocolate sauce. Crowned with a scoop of
                        pristine vanilla ice cream, this dessert promises a crescendo of flavors with each bite, and
                        is
                        a heavenly offering for any chocolate aficionado.</p>
                    <a href="/menu" class="order-btn">order now</a>
                </div>
                <div class="image">
                    <img src="/images/home/4.png" alt="">
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>

        <div class="swiper-button-next home-button-next"></div>
        <div class="swiper-button-prev home-button-prev"></div>
    </div>
    </section>

    <section class="review" id="review">
        <h3 class="sub-heading"> customer's reviews </h3>
        <h1 class="heading"> what they say </h1>
        <div class="swiper mySwiper review-slider">
            <div class="swiper-wrapper wrapper">
                <div class="swiper-slide slide">
                    <i class="fas fa-quote-right"></i>
                    <div class="user">
                        <img src="/images/home/pic-3.png" alt="">
                        <div class="user-info">
                            <h3>Sunita Gandhi</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </div>
                    <p>Every visit to Ones Café is a delight. The Smoked Salmon Sandwich, with its perfectly poached egg
                        and caper mayo, is sublime. However, I do wish they would expand their dessert menu; the choices
                        are good but a bit predictable. It's also a shame that their Sundae often runs out by the
                        evening!</p>
                </div>

                <div class="swiper-slide slide">
                    <i class="fas fa-quote-right"></i>
                    <div class="user">
                        <img src="/images/home/pic-4.jpg" alt="">
                        <div class="user-info">
                            <h3>Rohit Thakur</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <p>Love the ambiance at Ones Café and the Tenderloin Steak is absolutely delectable — cooked to your
                        liking and perfectly seasoned. On the downside, service can slow down during busy times, so plan
                        accordingly. But if you're not in a hurry, the quality of the meals makes the wait worthwhile.
                    </p>
                </div>

                <div class="swiper-slide slide">
                    <i class="fas fa-quote-right"></i>
                    <div class="user">
                        <img src="/images/home/pic-2.jpg" alt="">
                        <div class="user-info">
                            <h3>S.S Mishra</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <p>For a unique treat, try the Ones Cafe signature beef burger — it’s rich and packed with unique
                        toppings like chili coriander and beef bacon. But note, the cafe can feel a bit cramped and gets
                        noisy, which might not suit those looking for a quiet evening out.</p>
                </div>

                <div class="swiper-slide slide">
                    <i class="fas fa-quote-right"></i>
                    <div class="user">
                        <img src="/images/home/pic-7.jpg" alt="">
                        <div class="user-info">
                            <h3>Rajeev Chaterjee</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </div>
                    <p>Ones Café's Spaghetti Carbonara is creamy and delicious, but a little less garlic would make it
                        perfect. Also, I noticed that sometimes the music is just a bit too loud, making it hard to have
                        a conversation. The staff is friendly though, and they make up for any little shortcomings with
                        their warm service.</p>
                </div>

                <div class="swiper-slide slide">
                    <i class="fas fa-quote-right"></i>
                    <div class="user">
                        <img src="/images/home/pic-6.png" alt="">
                        <div class="user-info">
                            <h3>Mohmd. Ali Shah</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <p>Ones Café never misses with their Teriyaki Chicken Pizza — it’s a unique twist that keeps me
                        coming back. However, their online reservation system could use some tweaking. I’ve had a few
                        glitches while trying to book a table. In person, the experience is seamless, but they could
                        enhance their digital interface.</p>
                </div>

                <div class="swiper-slide slide">
                    <i class="fas fa-quote-right"></i>
                    <div class="user">
                        <img src="/images/home/pic-1.png" alt="">
                        <div class="user-info">
                            <h3>Monica Oberoi</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <p>The Spinach & Cream Cheese Pizza is a revelation for vegetarians at Ones Café! It’s creamy, rich,
                        and just divine. But I do think their plating for desserts like the Sizzling Brownies could be
                        more imaginative. It’s delicious, but the presentation doesn’t always match the taste. Still,
                        it’s a solid choice for a relaxed meal.</p>
                </div>
            </div>
            <div class="swiper-button-next review-button-next"></div>
            <div class="swiper-button-prev review-button-prev"></div>
        </div>
    </section>
    ` }) %>