<%- include('layouts/main', { body: ` <div class="menu-navbar">
    <nav class="categories">
        <a class="active" href="#soups">Soups</a>
        <a href="#burgers">Burgers</a>
        <a href="#pastas">Pastas</a>
        <a href="#pizzas">Pizzas</a>
        <a href="#mains">Mains</a>
        <a href="#desserts">Desserts</a>
        <a href="#smoothies">Smoothies</a>
        <a href="#soft-drinks">Soft Drinks</a>
        <a href="#coffee">Coffee</a>
    </nav>
    </div>

    <div id="menuContainer">
        <!-- menu will be rendered here -->
    </div>

    <a href="/checkout" class="fixed-button" aria-label="Checkout">
        <img src="/images/icons/checkout.svg" alt="Checkout">
    </a>

    <div id="order-modal" class="modal" aria-labelledby="modalTitle" aria-describedby="modalDescription">
        <div class="modal-content" tabindex="-1">
            <button class="close-btn" aria-label="Close">&times;</button>
            <h3 id="modalTitle"></h3>
            <div class="image">
                <img id="modalImage" src="" alt="Product Image">
            </div>
            <p id="modalDescription"></p>
            <span id="modalPrice" class="price"></span>
            <br>
            <label for="Instructions" id="Instructions-label">Special Instructions</label>
            <textarea id="Instructions" name="Instructions" required aria-required="true"></textarea>
            <div class="quantity-container">
                <button class="quantity-btn" id="decrease-quantity" aria-label="Decrease quantity">-</button>
                <label id="quantity-label" class="sr-only">Quantity</label>
                <input type="text" id="quantity-input" value="1" aria-labelledby="quantity-label">
                <button class="quantity-btn" id="increase-quantity" aria-label="Increase quantity">+</button>
            </div>
            <button class="add-to-cart-btn">Add to Cart</button>
        </div>
    </div>
    ` }) %>