<%- include('layouts/main', { body: ` 
    <div class="announcement-container">
    <h2>Latest Announcements</h2>
    <ul id="announcement-list">
        <!-- Announcements will be populated here -->
    </ul>
    </div>

    <div class="Promotions">
        <h1 class="promotion-title" id="voucher-title">Collected Vouchers</h1>
        <div class="promotion-container" id="voucher-collector">
            <ul class="voucher-detail"></ul>
        </div>
    </div>
  
    ` }) %>