<%- include('layouts/main', { body: ` <div class="notifications">
    <h2>Latest Promotions</h2>
    <ul id="promotion-notifications"></ul>
    </div>

    <div class="Promotions">
        <h1 class="promotion-title" id="voucher-title">Collected Vouchers</h1>
        <div class="promotion-container" id="voucher-collector">
            <ul class="voucher-detail"></ul>
        </div>
    </div>
    ` }) %>