.login-container,
.forgot-password-container,
.register-container,
.change-password-container {
  height: auto;
  width: 24rem;
  margin: auto;
  margin-top: 20px;
  padding: 2rem;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.main-content-container {
  max-width: 600px;
  margin: auto;
  margin-top: 15px;
  padding: 20px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.form-field,
.checkbox-container,
.links-container,
.button-container {
  margin-top: 15px;
  /* Adds space between each section */
}

.form-field label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

.form-field input[type="text"],
.form-field input[type="email"],
.form-field input[type="password"],
.form-field input[type="number"],
.form-field input[type="tel"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#change-password-button {
  background-color: #f1ede967;
  color: #000;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-block;
  margin-top: 10px;
}

#change-password-button:hover {
  background-color: #f1ede967;
}
#change-password-button:disabled {
background-color: #ccc; /* Grey color for disabled state */
cursor: not-allowed;
}

.btn-container button,
.links-container a {
  display: block;
  padding: 5px 5px;
}

.btn-container button{
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.links-container a {
  background-color: transparent;
  color: blue;
  text-decoration: none;
}

.reset-password-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

input[readonly] {
  background-color: #e9ecef;
  color: #495057;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
}

input:not([readonly]) {
  background-color: #ffffff;
}

#save-button {
  padding: 10px 20px;
  background-color: #00704A;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* CSS for gender select */
#gender {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}
#gender:disabled {
  background-color: #e9ecef;
}
/* Style for the date input */
input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}
input[type="date"]:disabled {
  background-color: #e9ecef;
}