<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <script src="https://cdn.ckeditor.com/ckeditor5/17.0.0/classic/ckeditor.js"></script>
  <link rel="stylesheet" href="/css/admin/general.css">
  <link rel="stylesheet" href="/css/admin/sidebar.css">
  <link rel="stylesheet" href="/css/admin/menuManagement.css">
  <link rel="stylesheet" href="/css/admin/add-menu.css">
  <title>Modify Menu: Ones Café</title>
  <link rel="icon" type="image/png" href="/images/icons/cafe.png">
</head>

<body>
  <div class="whole-page">
    <nav class="sidebar">
      <div class="image-text">
        <span class="image">
          <img src="/images/icons/cafe.png" alt="Dashboard Icon">
        </span>
        <div class="text">Dashboard</div>
      </div>
      <ul id="js-menu-links" class="nav-links"></ul>
    </nav>
    <div class="main">
      <div class="main-section">
        <h2 class="page-title">Modify menu</h2>
        <form id="modify-menu-form" enctype="multipart/form-data">
          <input type="hidden" id="menu-id" name="id">
          <div class="add-text title">
            <label for="menu-title">Title</label>
            <input id="menu-title" type="text" name="title" class="text-input" placeholder="Enter menu title">
          </div>
          <div class="add-text">
            <label for="menu-description">Description</label>
            <textarea id="menu-description" name="description" class="text-input"
              placeholder="Enter menu description"></textarea>
          </div>
          <div class="add-text">
            <label for="menu-price">Price</label>
            <input id="menu-price" type="text" name="price" class="text-input" placeholder="Enter price">
          </div>
          <div class="add-text">
            <label for="menu-image">Image</label>
            <input id="menu-image" type="file" name="image" class="text-input" title="Choose an image">
          </div>
          <div class="add-text">
            <label for="menu-category">Category</label>
            <select id="menu-category" name="topic_id" class="text-input" title="Select a category">
              <option value="Soups">Soups</option>
              <option value="Burgers">Burgers</option>
              <option value="Pastas">Pastas</option>
              <option value="Pizzas">Pizzas</option>
              <option value="Mains">Mains</option>
              <option value="Desserts">Desserts</option>
              <option value="Smoothies">Smoothies</option>
              <option value="Soft Drinks">Soft Drinks</option>
              <option value="Coffee">Coffee</option>
            </select>
          </div>
          <div class="add-text btn-place">
            <button type="submit" class="modify-menu">Modify menu</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="/js/admin/dashboard.js"></script>
  <script src="/js/admin/modifyMenu.js"></script>
</body>

</html>