<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/admin/general.css">
    <link rel="stylesheet" href="/css/admin/sidebar.css">
    <link rel="stylesheet" href="/css/admin/sales-report.css">
    <link rel="stylesheet" href="/css/admin/menuManagement.css">

    <title>Sales Report: Ones Café</title>
    <link rel="icon" type="image/png" href="/images/icons/cafe.png">
</head>

<body>

    <div class="whole-page">
        <nav class="sidebar">
          <div class="image-text">
              <span class="image">
                  <img src="/images/icons/cafe.png" alt="Dashboard Icon">
              </span>
              <div class="text">Dashboard</div>
          </div>
          <ul id="js-menu-links" class="nav-links"></ul>
      </nav>


    <div class="main">

        <div class="search-section">
            <div class="title-part">Order History</div>
            <div class="search-part">
              <input class="search-bar" type="text" placeholder="Search">
              <button class="search-button">
                <i class='bx bx-search '></i>
                <div class="tooltip">Search</div>
              </button>
            </div>
          </div>
          
        <div class="general-stats">
            <div class="total">
                <div class="title">Total Earnings</div>
                <div class="inner-total">
                    <div class="big-part">
                        <div class="total-money"> 8451</div>
                        <div class="latest-order-money">
                            <div class="text">
                                <img class="plus-button" src="/images/admin/plus.png" alt="">
                                Latest Order: +59
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="total">
                <div class="title">Total Orders</div>
                <div class="inner-total">
                    <div class="big-part">
                        <div class="total-ord accepted">
                            <img class="plus-button" src="/images/admin/icons8-arrow-up-40.png" alt="">
                            151 accepted
                        </div>
                        <div class="total-ord declined">
                            <img class="plus-button" src="/images/admin/icons8-arrow-down-40.png" alt="">
                            12 declined
                        </div>
                    </div>
                </div>
            </div>
            <div class="total">
                <div class="title">Inventory stock</div>
                <div class="inner-total">
                    <div class="big-part">
                        <div class="total-stock"> 1451</div>
                        <div class="latest-stock">
                            <div class="inner-title">
                                <img class="inv-img" src="/images/admin/icons8-inventory-40.png" alt="">
                                Latest stock:
                            </div>
                            <div class="stock-details">
                                <div class="stock-name">Stock: Stock name (item)</div>
                                <div class="count">Count: 49</div>
                                <div class="stocked-person">Worker: Name of person</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="history">
            <div class="main-section table-layout">
                <div class="order-elements">
                  <table>
                    <thead>
                      <th>No</th>
                      <th>Order ID</th>
                      <th>Item Titles & Quantities</th>
                      <th>Total Amount</th>
                      <th>Order Status</th>
                    </thead>
                    <tbody id="order-history-table-body">
                      <!-- Orders will be populated here -->
                    </tbody>
                  </table>
                </div>
              </div>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/bbd49eb172.js" crossorigin="anonymous"></script>
    <script src="/js/admin/main.js"></script>
    <script src="/js/admin/dashboard.js"></script>
    <script src="/js/admin/orderHistory.js"></script>

</body>

</html>