<!Doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="stylesheet" href="/css/404.css">
</head>

<body>
    <div class="not_found in-center">
        <div class="not_found_404 cf">
            <span>4</span>
            <span>0</span>
            <span>4</span>
        </div>
        <div class="btn">
            <a href="/" class="button button-rounded">Back to Home</a>
        </div>
    </div>

    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
</body>