<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ones Café</title>
    <link rel="icon" type="image/png" href="/images/icons/cafe.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <!-- navbar start here -->
    <nav class="navbar">
        <div class="navbar-container">
            <div class="navbar-brand">
                <a href="/">
                    <img src="/images/icons/cafe.png" alt="">
                    <span>Ones Café</span>
                </a>
            </div>

            <ul class="navbar-nav-left">
                <li class="navbar-nav-left-current">
                    <a href="/home">Home</a>
                </li>
                <li>
                    <a href="/menu">Menu</a>
                </li>
                <li>
                    <a href="/rewards">Rewards</a>
                </li>
                <li>
                    <a href="/feedback">Feedback</a>
                </li>
            </ul>

            <ul class="navbar-nav-right">
                <li>
                    <a
                        href="https://www.google.com/maps/place/45,+Jalan+17%2F45,+Seksyen+17,+46300+Petaling+Jaya,+Selangor,+Malaysia/@3.120318,101.62997,15z/data=!4m6!3m5!1s0x31cc495affc74ddd:0x1a0a8ad39581aad1!8m2!3d3.1203175!4d101.6299695!16s%2Fg%2F11h79rh_ky?hl=en&entry=ttu">
                        <img src="/images/icons/navbar-location.svg" alt="">
                        <span>Locate Us</span>
                    </a>
                </li>
                <li>
                    <button class="button btn-dark-outline" id="signInBtn" onclick="location.href='/login';">Sign
                        in</button>
                    <button class="button btn-dark" id="joinNowBtn" onclick="location.href='/register';">Join
                        now</button>
                </li>
            </ul>
        </div>
    </nav>
    <!-- navbar end here -->

    <section class="home" id="home">
        <div class="swiper mySwiper home-slider">
            <div class="swiper-wrapper wrapper">
                <div class="swiper-slide slide">
                    <div class="content">
                        <span>our special dish</span>
                        <h3>Signature Beef Burger</h3>
                        <p>A marvel of gastronomic flair, this burger is crafted with our exclusive chili
                            coriander beef patty that promises a burst of flavors with each mouthful. Tucked
                            within a soft, sesame-studded bun are layers of succulent beef bacon, crisp tomatoes,
                            tangy gherkins, and velvety gruyere cheese. A spread of rich guacamole and a side of
                            golden fries complete this masterpiece. It’s not just a burger; it's a journey of taste
                            that defines the essence of our café.</p>
                        <a href="/menu" class="btn">order now</a>
                    </div>
                    <div class="image">
                        <img src="/images/home/1.png" alt="">
                    </div>
                </div>

                <div class="swiper-slide slide">
                    <div class="content">
                        <span>our special dish</span>
                        <h3>Pan Seared Salmon Fillet</h3>
                        <p>Gently sear the salmon to perfection, locking in its moist and flaky texture,
                            and complement it with a side of lovingly roasted vegetables and fluffy couscous.
                            The dish is finished with a unique puteh spicy butter cream sauce, adding a
                            subtle kick that beautifully harmonizes with the salmon’s natural flavors. It’s a
                            dish that’s both hearty and sophisticated, perfectly representing the café’s
                            dedication to quality.</p>
                        <a href="/menu" class="btn">order now</a>
                    </div>
                    <div class="image">
                        <img src="/images/home/2.png" alt="">
                    </div>
                </div>

                <div class="swiper-slide slide">
                    <div class="content">
                        <span>our special dish</span>
                        <h3>Spinach & Cream Cheese Pizza</h3>
                        <p>A luscious cream base sets the stage for a generous blend of mozzarella and cheddar
                            cheeses, creating a rich and gooey foundation. Fresh spinach and dollops of cream
                            cheese are thoughtfully scattered atop, resulting in a pizza that’s bursting with
                            creamy goodness and a touch of verdant freshness in every slice – a vegetarian delight
                            that even the most discerning of meat-lovers will crave.</p>
                        <a href="/menu" class="btn">order now</a>
                    </div>
                    <div class="image">
                        <img src="/images/home/3.jpg" alt="">
                    </div>
                </div>

                <div class="swiper-slide slide">
                    <div class="content">
                        <span>our special dish</span>
                        <h3>Sizzling Brownies</h3>
                        <p>Each piece is nestled on a sizzling hot cast iron pan, creating a symphony of textures as
                            the warmth gently melds the brownies with a lavish chocolate sauce. Crowned with a scoop of
                            pristine vanilla ice cream, this dessert promises a crescendo of flavors with each bite, and
                            is
                            a heavenly offering for any chocolate aficionado.</p>
                        <a href="/menu" class="btn">order now</a>
                    </div>
                    <div class="image">
                        <img src="/images/home/4.png" alt="">
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>

            <div class="swiper-button-next home-button-next"></div>
            <div class="swiper-button-prev home-button-prev"></div>
        </div>
    </section>

    <section class="review" id="review">
        <h3 class="sub-heading"> customer's reviews </h3>
        <h1 class="heading"> what they say </h1>
        <div class="swiper mySwiper review-slider">
            <div class="swiper-wrapper wrapper">
                <div class="swiper-slide slide">
                    <i class="fas fa-quote-right"></i>
                    <div class="user">
                        <img src="/images/home/pic-3.png" alt="">
                        <div class="user-info">
                            <h3>Sunita Gandhi</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </div>
                    <p>Every visit to Ones Café is a delight. The Smoked Salmon Sandwich, with its perfectly poached egg
                        and caper mayo, is sublime. However, I do wish they would expand their dessert menu; the choices
                        are good but a bit predictable. It's also a shame that their Sundae often runs out by the
                        evening!</p>
                </div>

                <div class="swiper-slide slide">
                    <i class="fas fa-quote-right"></i>
                    <div class="user">
                        <img src="/images/home/pic-4.jpg" alt="">
                        <div class="user-info">
                            <h3>Rohit Thakur</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <p>Love the ambiance at Ones Café and the Tenderloin Steak is absolutely delectable — cooked to your
                        liking and perfectly seasoned. On the downside, service can slow down during busy times, so plan
                        accordingly. But if you're not in a hurry, the quality of the meals makes the wait worthwhile.
                    </p>
                </div>

                <div class="swiper-slide slide">
                    <i class="fas fa-quote-right"></i>
                    <div class="user">
                        <img src="/images/home/pic-2.jpg" alt="">
                        <div class="user-info">
                            <h3>S.S Mishra</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <p>For a unique treat, try the Ones Cafe signature beef burger — it’s rich and packed with unique
                        toppings like chili coriander and beef bacon. But note, the cafe can feel a bit cramped and gets
                        noisy, which might not suit those looking for a quiet evening out.</p>
                </div>

                <div class="swiper-slide slide">
                    <i class="fas fa-quote-right"></i>
                    <div class="user">
                        <img src="/images/home/pic-7.jpg" alt="">
                        <div class="user-info">
                            <h3>Rajeev Chaterjee</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </div>
                    <p>Ones Café's Spaghetti Carbonara is creamy and delicious, but a little less garlic would make it
                        perfect. Also, I noticed that sometimes the music is just a bit too loud, making it hard to have
                        a conversation. The staff is friendly though, and they make up for any little shortcomings with
                        their warm service.</p>
                </div>

                <div class="swiper-slide slide">
                    <i class="fas fa-quote-right"></i>
                    <div class="user">
                        <img src="/images/home/pic-6.png" alt="">
                        <div class="user-info">
                            <h3>Mohmd. Ali Shah</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <p>Ones Café never misses with their Teriyaki Chicken Pizza — it’s a unique twist that keeps me
                        coming back. However, their online reservation system could use some tweaking. I’ve had a few
                        glitches while trying to book a table. In person, the experience is seamless, but they could
                        enhance their digital interface.</p>
                </div>

                <div class="swiper-slide slide">
                    <i class="fas fa-quote-right"></i>
                    <div class="user">
                        <img src="/images/home/pic-1.png" alt="">
                        <div class="user-info">
                            <h3>Monica Oberoi</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <p>The Spinach & Cream Cheese Pizza is a revelation for vegetarians at Ones Café! It’s creamy, rich,
                        and just divine. But I do think their plating for desserts like the Sizzling Brownies could be
                        more imaginative. It’s delicious, but the presentation doesn’t always match the taste. Still,
                        it’s a solid choice for a relaxed meal.</p>
                </div>
            </div>
            <div class="swiper-button-next review-button-next"></div>
            <div class="swiper-button-prev review-button-prev"></div>
        </div>
    </section>

    <!-- footer start here -->
    <div class="divider"></div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="column">
                    <div class="about">
                        <div class="footer-phone">
                            <p><img src="/images/icons/about-phone.svg" alt="Phone Icon">
                                Mobile:&nbsp;<a href="https://wa.me/60163799597?Hello%20there!">016-3799597</a>
                            </p>
                        </div>
                        <div class="footer-email">
                            <p><img src="/images/icons/about-email.svg" alt="Email Icon">
                                Email:&nbsp;<a href="mailto:onescafe6688@gmail.com">onescafe6688@gmail.com</a>
                            </p>
                        </div>
                        <div class="footer-time">
                            <p><img src="/images/icons/about-clock.svg" alt="Clock Icon">
                                Operation Hour:
                            </p>
                            <p class="time">
                                Monday - Saturday
                                <br>
                                10:00 - 22:00
                            </p>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="address">
                        <div class="footer-address">
                            <p><img src="/images/icons/navbar-location.svg" alt="Location Icon">
                                Address:
                            </p>
                            <p class="address">
                                45, Jalan 17/45,
                                <br>
                                Seksyen 17,
                                <br>
                                46400 Petaling Jaya, Selangor
                            </p>
                        </div>
                        <div class="footer-map">
                            <iframe
                                src="https://www.google.com/maps/embed/v1/place?q=45%2C+Jalan+17%2F45%2C+Seksyen+17%2C+46400+Petaling+Jaya%2C+Selangor&key=AIzaSyAXlem_NLqSctq8xc_LozuyZCDmFxftxCw"
                                title="Ones Café Location" allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="social">
                        <a href="https://spotify.com">
                            <img src="/images/icons/social-spotify.svg" alt="Spotify">
                        </a>
                        <a href="https://www.facebook.com">
                            <img src="/images/icons/social-facebook.svg" alt="Facebook">
                        </a>
                        <a href="https://www.pinterest.com">
                            <img src="/images/icons/social-pinterest.svg" alt="Pinterest">
                        </a>
                        <a href="https://www.instagram.com">
                            <img src="/images/icons/social-instagram.svg" alt="Instagram">
                        </a>
                        <a href="https://www.youtube.com">
                            <img src="/images/icons/social-youtube.svg" alt="YouTube">
                        </a>
                        <a href="https://www.twitter.com">
                            <img src="/images/icons/social-twitter.svg" alt="Twitter">
                        </a>
                    </div>
                    <p>© 2024 Ones Café Company. All rights reserved</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end here -->

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="/js/home/home.js"></script>
</body>

</html>