<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rewards: Ones Café</title>
    <link rel="icon" type="image/png" href="/images/icons/cafe.png">
    <link rel="stylesheet" href="/css/rewards.css">
    <link rel="stylesheet" href="/css/navbar-footer.css">
</head>

<body>
    <nav class="navbar">
        <div class="navbar-container">
            <div class="navbar-brand">
                <a href="/">
                    <img src="/images/icons/cafe.png" alt="">
                    <span>Ones Café</span>
                </a>
            </div>

            <ul class="navbar-nav-left">
                <li>
                    <a href="/home">Home</a>
                </li>
                <li>
                    <a href="/menu">Menu</a>
                </li>
                <li class="navbar-nav-left-current">
                    <a href="/rewards">Rewards</a>
                </li>
                <li>
                    <a href="/feedback">Feedback</a>
                </li>
            </ul>

            <ul class="navbar-nav-right">
                <li>
                    <a
                        href="https://www.google.com/maps/place/45,+Jalan+17%2F45,+Seksyen+17,+46300+Petaling+Jaya,+Selangor,+Malaysia/@3.120318,101.62997,15z/data=!4m6!3m5!1s0x31cc495affc74ddd:0x1a0a8ad39581aad1!8m2!3d3.1203175!4d101.6299695!16s%2Fg%2F11h79rh_ky?hl=en&entry=ttu">
                        <img src="/images/icons/navbar-location.svg" alt="">
                        <span>Locate Us</span>
                    </a>
                </li>
                <li>
                    <button class="btn btn-dark-outline" id="signInBtn"
                        onclick="location.href='/profile';">Profile</button>
                    <button class="btn btn-dark" id="joinNowBtn" onclick="location.href='/';">Log
                        Out</button>
                </li>
            </ul>
        </div>
    </nav>

    <div class="Promotions">
        <h1 class="promotion-title">Our Special Promotions</h1>
        <button id="voucher-collector-btn" onclick="location.href='/voucher'" class="voucher-collector-img">
            <img src="/images/rewards/collector.jpg" alt="Voucher Collector">
    </div>

    <div class="promotion-container">
        <div class="promotion" id="discount-offer">
            <img src="/images/checkout/Discount.webp" alt="10%off" class="promotion-image"></img>
            <ul>
                <li class="title">
                    <p>10% Off on Your Next Visit</p>
                </li>
                <li class="description">
                    <p>Enjoy a 10% discount on your total bill on your next visit!</p>
                    <p>*Valid for 30 days from the date of issuing.</p>
                </li>
            </ul>
            <button onclick="claimOffer('discount')">Claim Offer</button>
        </div>
        <div class="promotion" id="free-food">
            <img src="/images/rewards/freefood.jpg" alt="Free Food" class="promotion-image"></img>
            <ul>
                <li class="title">
                    <p>Free Redemption Food Item</p>
                </li>
                <li class="description">
                    <p>Get a free item from our selected menu with your next purchase!</p>
                    <p>*Offer valid only on weekdays for the next month.</p>
                </li>
            </ul>
            <button onclick="claimOffer('food')">Claim Offer</button>
        </div>
        <div class="promotion" id="birthday-voucher">
            <img src="/images/rewards/birthday.jpg" alt="Birthday Voucher" class="promotion-image"></img>
            <ul>
                <li class="title">
                    <p>Birthday Voucher</p>
                </li>
                <li class="description">
                    <p>Celebrate your birthday with us and get a special birthday treat!</p>
                    <p>*Voucher valid on birthday month, ID verification required.</p>
                </li>
            </ul>
            <button onclick="claimOffer('birthday')">Claim Offer</button>
        </div>
    </div>

    <div class="divider"></div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="column">
                    <div class="about">
                        <div class="footer-phone">
                            <p><img src="/images/icons/about-phone.svg" alt="Phone Icon">
                                Mobile:&nbsp;<a href="https://wa.me/60163799597?Hello%20there!">016-3799597</a>
                            </p>
                        </div>
                        <div class="footer-email">
                            <p><img src="/images/icons/about-email.svg" alt="Email Icon">
                                Email:&nbsp;<a href="mailto:Onescafe@gmail.com">Onescafe@gmail.com</a>
                            </p>
                        </div>
                        <div class="footer-time">
                            <p><img src="/images/icons/about-clock.svg" alt="Clock Icon">
                                Operation Hour:
                            </p>
                            <p class="time">
                                Monday - Saturday
                                <br>
                                10:00 - 22:00
                            </p>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="address">
                        <div class="footer-address">
                            <p><img src="/images/icons/navbar-location.svg" alt="Location Icon">
                                Address:
                            </p>
                            <p class="address">
                                45, Jalan 17/45,
                                <br>
                                Seksyen 17,
                                <br>
                                46400 Petaling Jaya, Selangor
                            </p>
                        </div>
                        <div class="footer-map">
                            <iframe
                                src="https://www.google.com/maps/embed/v1/place?q=45%2C+Jalan+17%2F45%2C+Seksyen+17%2C+46400+Petaling+Jaya%2C+Selangor&key=AIzaSyAXlem_NLqSctq8xc_LozuyZCDmFxftxCw"
                                title="Ones Café Location" allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="social">
                        <a href="https://spotify.com">
                            <img src="/images/icons/social-spotify.svg" alt="Spotify">
                        </a>
                        <a href="https://www.facebook.com">
                            <img src="/images/icons/social-facebook.svg" alt="Facebook">
                        </a>
                        <a href="https://www.pinterest.com">
                            <img src="/images/icons/social-pinterest.svg" alt="Pinterest">
                        </a>
                        <a href="https://www.instagram.com">
                            <img src="/images/icons/social-instagram.svg" alt="Instagram">
                        </a>
                        <a href="https://www.youtube.com">
                            <img src="/images/icons/social-youtube.svg" alt="YouTube">
                        </a>
                        <a href="https://www.twitter.com">
                            <img src="/images/icons/social-twitter.svg" alt="Twitter">
                        </a>
                    </div>
                    <p>© 2024 Ones Café Company. All rights reserved</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="/js/rewards/rewards.js"></script>
    <script>
        function navigate() {
            window.location.href = "/voucher";
            showVouchers();
        }
    </script>
</body>

</html>