.main {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
}

.general-stats {
  background-color: #f5f5f5;
  margin: 10px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


.general-stats .total {
  height: 250px;
  flex: 1;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: transform 0.2s, box-shadow 0.2s;
}

#totalOrder {
  margin: auto 10px;
}

.total .inner-total {
  border-bottom: 1px solid black;
  height: 80%;
}

.general-stats .total:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.total .title {
  font-size: 24px;
  font-weight: bold;
}

.total .big-part {
  margin: 15px;
  border: none;
  margin-top: 10px;
  margin-left: 0;
  height: 100%;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.big-part .latest-order-money {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.latest-order-money .date {
  font-size: 14px;
}

.latest-order-money .text {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 16px;
  padding: 15px;
  padding-left: 0;
  color: rgb(50, 177, 50);
}

.big-part .total-money,
.big-part .total-stock {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 30px;
  font-weight: 700;
}

.latest-stock {
  display: flex;
  font-size: 14px;
  flex-direction: column;
}

.latest-stock .inner-title {
  display: flex;
  align-items: center;
  gap: 5px;
}

.latest-stock .stock-details {
  padding: 0px 15px ;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}



.big-part .total-ord {
  padding: 15px;
  font-size: 18px;
}

.total-ord {
  padding: 15px;
  font-size: 18px;
  display: flex;
  align-items: center;
  font-weight: 700;

}

.orders-stats .accepted {
  color: rgb(50, 177, 50);
}

.orders-stats .declined {
  color: rgb(180, 26, 52);

}

.plus-button {
  width: 40px;
  height: 40px;
}

.history {
  margin: 10px 30px 30px;
  padding: 15px;
  background-color: white;
  box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(255, 255, 255, 0.15);
  border-radius: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.1rem;
}

th,
td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #d3d3d3;
  min-width: 100px;
}

.order-good {
  color: #00b14f;

}

.order-bad {
  color: #df2525;
}

.order-id {
  word-break: break-all;
  max-width: 150px;
}

.item-details div {
  display: flex;
  justify-content: space-between;
}

.status-done {
  color: green;
  font-weight: bold;
}

.status-cancelled {
  color: red;
  font-weight: bold;
}

.status-pending {
  color: #A9A9A9;
  font-weight: bold;
}

.order-history-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 30px 10px;
}

.filter-part {
  text-align: right;
}

.filter-button {
  display: inline-block;
  font-size: 1rem;
  color: black;
  border-radius: .5rem;
  cursor: pointer;
  padding: .5rem 1rem;
  border: none;
  transition: all .2s linear;
}

.filter-button:hover {
  background: #907a68;
  letter-spacing: .1rem;
  color: white;
}

.filter-button:active {
  cursor: pointer;
  color: white;
}

.stock-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.stock-item .stock-name {
  font-weight: bold;
}

.stock-item .count {
  font-weight: bold;
  color: #f00;
}


.title-with-image {
  display: flex;
  align-items: center;
}

.title-with-image .title {
  margin-right: 10px; /* Adjust as needed */
}

.inv-img {
  width: 40px; /* Adjust as needed */
  height: auto;
}




/* Responsive Styles */
@media (max-width: 1250px) {

  .general-stats .total {
    height: 300px;
  }

  .general-stats .earnings,
  .general-stats .orders,
  .general-stats .inventory-number-restock {
    margin: 10px 0;
  }
}


/* Responsive Styles */
@media (max-width: 1100px) {
  .general-stats {
    flex-direction: column;
  }

  .general-stats .earnings,
  .general-stats .orders,
  .general-stats .inventory-number-restock {
    margin: 10px 0;
  }
}